text {
  background-color: #333;
  font-family: 'Luckiest Guy', cursive;
  font-size: 33px;
}

.header{
  position: absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  width: 60%;
  height: 60%;
}

.wheel{
  position:absolute;
  top:55%;
  left:50%;
  width: 20vw;
  height: 30vw;
  transform: translate(-50%,-50%);
  background-color: blue;
  overflow: hidden;
}

.list{
  position: relative;
  top:-1400vw;
}

.persoon{
  position:relative;
  width: 20vw;
  height: 20vw;
  background-color: red;
}

.image {
  position: relative;
  top: 0;
  width: 100%;
}

.arrow{
  position: absolute;
  top: 55vh;
  transform: translateY(-50%);
  left: 36vw;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 2vw solid black;
  // background-color: red;
}

.spin{
  position:absolute;
  bottom: 10%;
  width:20%;
  left: 40%;
}
