<ion-content>
  <div class="header">
    <svg viewBox="0 0 500 500">
      <path id="curve" fill="transparent" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
      <text width="500">
        <textPath xlink:href="#curve">
          The Great YPP StandUp Wheel
        </textPath>
      </text>
    </svg>
  </div>

  <div class="wheel">
    <div class = "list" *ngFor="let image of images" [@position]="{value:position, params:{spinTime0: spinTimeString[0], spinTime1: spinTimeString[1], spinTime2: spinTimeString[2], spinTime3: spinTimeString[3], spinTime4: spinTimeString[4], step0:steps[0], step1:steps[1], step2:steps[2], step3:steps[3], step4: steps[4]}}" >
      <div class="persoon">
        <img class="image" src={{image}}>
      </div>
    </div>
  </div>
  <div class="arrow"></div>
  <ion-button class="spin" color="warning" (click)="spinWheel()">Spinz To Win</ion-button>
</ion-content>
